{{define "main"}}
<body data-spy="scroll" data-target="#navbar" class="static-layout">
    <div class="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hero-left">
                <h1 class="display-4 mb-5 text-center">{{ .Site.Params.heroTextHome | safeHTML }}</h1>
                <div class="text-center mb-2">
                    <a class="btn btn-primary btn-shadow btn-lg" target="_blank" href="https://www.blurb.com/bookstore/invited/8834584/2a93c0ad1c6b4f9fc5e3ff23ccf102c5b876c87e" role="button">Buy Cookbook</a>
                    <a class="btn btn-icon btn-lg" href="{{ .Site.BaseURL }}blog">
                        See Recipes
                    </a>
                </div>
            </div>

            <div class="col-lg-6 hero-right">
                <div class="owl-carousel owl-theme hero-carousel">
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/banana-bread.png" | absURL }}' alt="">
                    </div>
                    <!-- <div class="item">
                        <img class="img-fluid" src='{{ "img/hero-2.jpg" | absURL }}' alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src='{{ "img/hero-3.jpg" | absURL }}' alt="">
                    </div> -->
                </div>
            </div>
        </div>
      </div>
    </div>	
    {{ partial "about.html" . }}	
    
    <!-- {{ partial "special.html" . }} -->
    
    <!-- {{ partial "menu.html" . }} -->

    {{ partial "testimonial.html" . }}

    <!-- {{ partial "team.html" . }} -->
                                    
    <!-- {{ partial "reserve.html" . }} -->
{{ end }}
