<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5">
                    <div class="team-card">
                        <img class="img-fluid" src='{{"img/sue.jpg" | absURL }}' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Sue Leson</h4>
                            <p class="mb-1">Cranbury, NJ</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            About
                        </span>
                        <h2>
                            Welcome to {{.Site.Title}}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>I have been working on this book my entire life. The first iteration was “Fast and Fabulous”. The concept was fast, simple and delicious — a no-fail cookbook for the busy young professional. Then I became a Soccer Mom. Not only did I have two over-scheduled children, I actually coached soccer!  I worried that I wouldn't be around to cook for them, and my no-fail cookbook turned into a tool for my children. That's when the "if i die tomorrow cookbook” was born.</p>
                        <p>I became enamored with the name and found the impetus it suggested was valuable, but it seemed impossible to say when it was done. I was looking for a reason to finish when life intervened.</p>
                        <p>Most of the recipes are super simple, reflecting my cooking style and my hatred of fussiness in the kitchen. Some are from when Lena and Charlie were small. Some I cooked as they grew older, or are recipes they introduced to me. Some are recipes that I gathered as I became more handicapped and found it hard to stand, much less chop, simmer, and sauté. But they are all delicious.</p>
                        <p>Give one a try. And fondly remember us.</p>
                        <!-- <h3 class="mt-5">Special Recipe</h3>
                        <div class="row">
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/hero-1.jpg" | absURL }}' />
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/hero-1.jpg" | absURL }}' />
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/hero-1.jpg" | absURL }}'/>
                                    <h6>Australian Organic Beef</h6>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->	