<!-- Team Section -->
<section id="gtco-team" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <!-- <span class="subheading">
                    Amateur Chef
                </span> -->
                <h2>
                    Photo Gallery
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card mb-5">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card mb-5">
                        <img class="img-fluid" src='{{"img/sue.jpg" | absURL }}' alt="">
                        <div class="team-desc">
                            <h4 class="mb-0">Sue Leson</h4>
                            <p class="mb-1">Cranbury, NJ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Team Section -->