
<!-- Testimonial Section-->
<section id="gtco-testimonial" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <h2>
                    Photo Gallery
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_2.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_3.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_4.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_5.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_6.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_7.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_8.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_9.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_10.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_11.png" | absURL }}' alt="">
                    </div>
                    <div class="testi-item">
                        <img src='{{"img/MomsFavoriteRecipes_Page_12.png" | absURL }}' alt="">
                    </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial Section-->