{{define "main" }}
<section class="container mb-4">
    {{ if eq .Section "blog"}}
        <div class="pb-4">
            <h2 class="text-center">{{ .Title }}</h2>
            <!-- <small class="text-secondary">Published on: {{.PublishDate.Format "January 2, 2006"}} | {{.ReadingTime}} minute read</small><br> 
            <small class="text-secondary">Tags: </small>
                {{- range .Params.categories -}}
                    <span class='badge badge-dark'><a class='text-white' href='{{ "categories/" | absURL }}{{ . | lower }}'>{{ . }}</a></span>
                {{ end }} -->
            {{ .Content }}
                
            <!-- {{if .Site.Params.enableDisqus}}
                    {{ template "_internal/disqus.html" . }}
            {{end}}     -->
        </div>       
    {{else}}

    <h2 class="text-center">{{.Title}}</h2>
    <p>{{.Content}}</p>
    {{end}}
</section>
{{ end }}
